:root {
    --primary-color: #01c5d3;
    --accent-color: #d4af37;
    --white-color: #ffffff;
    --text-color: #333;
    --background-color: #d6fcff;
    --border-color: #dee2e6;
    --error-color: #dc3545;
}
